.heading(style="margin-bottom:30px;")
    h3.heading__h Партнер
.blue_block
    .girl
    .container
        .bank__content
            .bank__content__col
                img(src="img/label.png")
                .clean_comp
                    .title Клининговая компания
                    ul
                        li
                            span.text Уборка дома в квартире
                            span.prc от 2 500 руб.
                        li
                            span.text Уборка офисов и торговых площадей
                            span.prc от 4 050 руб.
                        li
                            span.text Уборка после ремонта
                            span.prc от 4 000 руб.
                        li
                            span.text Мытье фасадов и окон
                            span.prc от 14 руб. кв.м.
                        li
                            span.text Химчистка на дому
                            span.prc от 1 200 руб.
                    .icons
                        .ico
                            img(src="img/ico1.png")
                            span Квалифицированный <br>персонал
                        .ico
                            img(src="img/ico2.png")
                            span Проверенные <br>технологии
                        .ico
                            img(src="img/ico3.png")
                            span Эко уборка<br>&nbsp;
            .bank__content__col.right_block
                .title Бережем ваши силы и здоровье!
                .sub-title Спецпредложение <br><strong>"Уборка после ремонта":</strong>
                ul
                    li Вынос мусора
                    li Удаление пыли с поверхностей
                    li Чистка систем отопления
                    li Удаление следов ремонта
                    li Мойка стен и полов
                    li Полировка поверхностей
                    li Уборка в труднодоступных местах
                    li Чистка санузлов
                    li Мойка окон и подоконников
                    li Обеспыливание ковров
                    li Очистка воздуха от строительной пыли
                    li Мойка плинтусов
                .callback
                    .title Оставить заявку
                    form.quiz-item__row.js-form
                        input(name='email' value='user@host.com' hidden)
                        input(name='text' value='info' hidden)
                        input(name='email3' value='info@example.com' hidden)
                        input(name='form_id' value='2' hidden)
                        input(name='form_name' value='Уборка после ремонта' hidden)
                        input(name='goals_ya' value='lead_cleening' hidden)
                        input(
                            name='goals_ga' 
                            hidden 
                            value='{"event":"form_sent3","eventCategory":"lead","eventAction":"cleening"}'
                        )
                        .input-group
                            input.input._for-white.js-mask(name="phone" required autocomplete="off")
                            button.btn Перезвоните мне
                    span или позвоните по телефону: <br>+7 999 <strong>888 22 33</strong>