include chunks/config-tab
include chunks/tooltip-gost

.container._xl.config

    .heading
        h3.heading__h Пластиковые окна под ключ
        p.heading__lead Выберите свой вариант

    .js-tabs.js-tabs_disconnected
        
        .config-select.sm-full.js-tabs__select
            .config-select__list
                a.config-select__item.js-tabs__select__item._active(href='#1-section-window')
                    span.config-select__item__img
                        img(src='img/windows/1-section-window_sm.svg')
                    span.config-select__item__content
                        span.config-select__item__content__h Одностворчатое окно
                        span.config-select__item__content__muted 900X1400
                a.config-select__item.js-tabs__select__item(href='#2-section-window')
                    span.config-select__item__img
                        img(src='img/windows/1-section-window_sm.svg')
                    span.config-select__item__content
                        span.config-select__item__content__h Двустворчатое окно
                        span.config-select__item__content__muted 1300X1400
                a.config-select__item.js-tabs__select__item(href='#3-section-window')
                    span.config-select__item__img
                        img(src='img/windows/1-section-window_sm.svg')
                    span.config-select__item__content
                        span.config-select__item__content__h Трехстворчатое окно
                        span.config-select__item__content__muted 1400X2100
                a.config-select__item.js-tabs__select__item(href='#balcony-window')
                    span.config-select__item__img
                        img(src='img/windows/1-section-window_sm.svg')
                    span.config-select__item__content
                        span.config-select__item__content__h Балконный блок
                        span.config-select__item__content__muted 2100X2100
                
        .js-tabs__content
        
            .window-list.sm-full(id='1-section-window')
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 000 ₽
                            span.window-list__item__head__text Размер 90×140
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 10 000 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Blitz 60 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment('800')
                    img.window-list__item__img(src='img/blitz.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 800 ₽
                            span.window-list__item__head__text Размер 90×140
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 11 200 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Grazio 70 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment('880')
                    img.window-list__item__img(src='img/grazio.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
            
            .window-list.sm-full(id='2-section-window')
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 13 500 ₽
                            span.window-list__item__head__text Размер 130×140
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 16 390 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Blitz 60 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment('1 350')
                    img.window-list__item__img(src='img/blitz.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 14 700 ₽
                            span.window-list__item__head__text Размер 130×140
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 17 390 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Grazio 70 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment('1 470')
                    img.window-list__item__img(src='img/grazio.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
            
            .window-list.sm-full(id='3-section-window')
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 000 ₽
                            span.window-list__item__head__text Размер 140×210
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 10 000 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Blitz 60 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment(800)
                    img.window-list__item__img(src='img/blitz.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 800 ₽
                            span.window-list__item__head__text Размер 140×210
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 11 200 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Grazio 70 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment(880)
                    img.window-list__item__img(src='img/grazio.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
            
            .window-list.sm-full(id='balcony-window')
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 000 ₽
                            span.window-list__item__head__text Размер 210×210
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 10 000 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Blitz 60 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment(800)
                    img.window-list__item__img(src='img/blitz.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
                .window-list__item
                    .window-list__item__head
                        .window-list__item__head__col
                            span.window-list__item__head__muted Окно под ключ
                                span.window-list__item__head__badge Акция
                            span.window-list__item__head__price от 8 800 ₽
                            span.window-list__item__head__text Размер 210×210
                        .window-list__item__head__col
                            span.window-list__item__head__muted Обычная цена
                            del.window-list__item__head__del 11 200 ₽
                    .window-list__item__content
                        .window-list__item__content__h Профиль Rehau Grazio 70 мм
                        ul.window-list__item__content__ul
                            li.window-list__item__content__ul__li 2-х камерный стеклопакет 32 мм
                            li.window-list__item__content__ul__li Сертифицированный монтаж по ГОСТ
                                +tooltip-gost
                        +payment(880)
                    img.window-list__item__img(src='img/grazio.png' alt='Профиль Rehau Blitz 60 мм')
                    .window-list__item__foot
                        a.btn.js-popup(href='#calc') Рассчитать свой вариант
            
        .scrollbar-outer.js-scrollbar-md
            ul.config-tabs.js-tabs__list
                li.config-tabs__item
                    +config-tab(
                                img = 'img/windows/1-section-window.svg'
                                title = 'Одностворчатое окно'
                                size = '900X1400'
                                href = '#1-section-window'
                        )
                li.config-tabs__item
                    +config-tab(
                                img = 'img/windows/2-section-window.svg'
                                title = 'Двустворчатое окно'
                                size = '1300X1400'
                                href = '#2-section-window'
                        )
                li.config-tabs__item
                    +config-tab(
                                img = 'img/windows/3-section-window.svg'
                                title = 'Трехстворчатое окно'
                                size = '1400X2100'
                                href = '#3-section-window'
                        )
                li.config-tabs__item
                    +config-tab(
                                img = 'img/windows/balcone-window.svg'
                                title = 'Балконный блок'
                                size = '2100X2100'
                                href = '#balcony-window'
                        )
