.container.man
    .heading
        h3.heading__h Производим окна на совесть
        p.heading__lead Качественно и в срок

    .swiper-container.sm-full.md-full
        .swiper-wrapper
            .swiper-slide
                .man__slide(style='background-image: url(img/man1.jpg)')
            .swiper-slide
                .man__slide(style='background-image: url(img/man2.jpg)')
            .swiper-slide
                .man__slide(style='background-image: url(img/man3.jpg)')
        .swiper-button-prev
            +icon('prev')
        .swiper-button-next
            +icon('next')
        .swiper-pagination
        
    .man__sert
        p.man__sert__text Оконный завод «САКСЭС» — это высокотехнологичное производство светопрозрачных конструкций, сертифицированное по стандарту ISO 9001.
        .man__sert__view
            span.man__sert__view__h
                a.dashed(href='docs/iso.pdf' target='_blank') Посмотреть сертификат ISO 9001
            span.man__sert__view__muted PDF, 55KB
            +svgsprite('pdf')
        
    include /blocks/feats_2