.stock
    .container
        .stock__h Топ-предложения месяца
        .stock-list
            .swiper-container.sm-full.md-full
                .swiper-wrapper
                    a.stock-list__item.swiper-slide.js-stock__hover.js-popup(href='#action' data-action='Дарим 2000 рублей')
                        .stock-list__item__h Дарим 2000 рублей на окна Rehau
                        .stock-list__item__text Доступно еще 
                            span.js-left(data-left='2018-10-31')
                        .stock-list__item._popup.js-stock__hover__content
                            img.stock-list__item__promo(src='img/promo/1.png' alt='Дарим 2000 рублей на окна Rehau')
                            //.stock-list__item__h Купон на скидку 2000 руб. на ваш заказ
                            //.stock-list__item__text Нажмите, чтобы воспользоваться скидкой (акция распростроняется на заказ стоимостью от 25 000 руб.)
                    a.stock-list__item.swiper-slide.js-stock__hover.js-popup(href='#action' data-action='Ламинированные подоконники премиум-класса по цене обычных')
                        .stock-list__item__h Ламинированные подоконники премиум-класса по цене обычных
                        .stock-list__item__text Доступно еще 
                            span.js-left(data-left='2018-10-31')
                        .stock-list__item._popup.js-stock__hover__content
                            img.stock-list__item__promo(src='img/promo/2.png' alt='Ламинированные подоконники премиум-класса по цене обычных')
                            //.stock-list__item__h Ламинированные подоконники премиум-класса по цене обычных
                            //.stock-list__item__text При покупке окон из профиля ПВХ Intelio 80
                    a.stock-list__item.swiper-slide.js-stock__hover.js-popup(href='#action' data-action='Дарим фотосессию')
                        .stock-list__item__h Дарим фотосессию при покупке окна Rehau
                        .stock-list__item__text Доступно еще 
                            span.js-left(data-left='2018-10-31')
                        .stock-list__item._popup.js-stock__hover__content
                            img.stock-list__item__promo(src='img/promo/3.png' alt='Дарим фотосессию при покупке окна')
                            //.stock-list__item__h Профессиональная фотосесия + фотомакияж + укладка
                            //.stock-list__item__text Нажмите, чтобы оформить заказ и получить фотосессию в подарок!
            
            .swiper-button-prev
                +icon('prev')
            .swiper-button-next
                +icon('next')
            .swiper-pagination