.stock
    .container
        .stock__h Топ-предложения месяца
        .stock-list.sm-full.md-full
            .swiper-container
                .swiper-wrapper
                    .stock-list__item.swiper-slide.js-stock__hover
                        .stock-list__item__h Дарим 2000 рублей на окна Rehau
                        .stock-list__item__text Доступно еще 10 дней
                        .stock-list__item._popup.js-stock__hover__content
                            .stock-list__item__h Ламинированные подоконники премиум-класса по цене обычных
                            .stock-list__item__text При покупке окон из профиля ПВХ Интелио 80
                    .stock-list__item.swiper-slide.js-stock__hover
                        .stock-list__item__h Подоконники Danke
                        .stock-list__item__text Доступно еще 12 дней
                        .stock-list__item._popup.js-stock__hover__content
                            .stock-list__item__h Ламинированные подоконники
                            .stock-list__item__text При покупке окон из профиля ПВХ Интелио 80
                    .stock-list__item.swiper-slide.js-stock__hover
                        .stock-list__item__h Дарим фотосессию при покупке окна
                        .stock-list__item__text Доступно еще 15 дней
                    .stock-list__item.swiper-slide.js-stock__hover
                        .stock-list__item__h Дарим фотосессию при покупке окна
                        .stock-list__item__text Доступно еще 15 дней
            
            .swiper-button-prev
                +icon('prev')
            .swiper-button-next
                +icon('next')
            .swiper-pagination