.container.work
    .heading
        h3.heading__h Этапы выполнения работ
        p.heading__lead От замера и идеи до установки окна — работа под ключ
    
    .work__slider
        .swiper-container
            .swiper-wrapper
                .work-slide.swiper-slide
                    h3.work-slide__h Бесплатный замер
                    p.work-slide__text Специалист бесплатно снимет размеры, проведет анализ проема 
                        | с внутренней и внешней стороны, расскажет о действующих акциях, рассрочке, 
                        | рассчитает стоимость изделия и оформит договор на месте 
                        | с <strong>дополнительной скидкой 5%</strong>. Можно оплатить всю сумму сразу 
                        | или оформить рассрочку. При самовывозе и оптовом заказе предоставляются дополнительные скидки.
                    .work-slide__footer 
                        a.btn._for-white.js-popup(href='#dimensions') Записаться на завтрашний замер
                        .counter Осталось
                            span.counter__number.js-counter__number 15
                            span.js-counter__text мест
                    img.work-slide__img._1(src='img/work/1.svg' alt='Бесплатный замер')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Изготовление окна
                    p.work-slide__text Заказ передается в производственно-технический отдел для тщательной проверки правильности расчёта окон и на соответствие всем техническим параметрам и действующим нормативам — далее на Завод. 
                    p.work-slide__text Срок изготовления — от <strong>2 до 10</strong> дней в зависимости 
                        | от технической сложности и, как следствие, особенности производственного процесса. 
                        | Производство полностью автоматизировано, что сводит к минимуму возможное негативное 
                        | влияние «человеческого фактора». Система менеджмента качества на заводе сертифицирована 
                        | по международному стандарту <strong>ISO 9001</strong>.
                    img.work-slide__img._2(src='img/work/2.svg' alt='Изготовление окна')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Доставка
                    p.work-slide__text Доставка окон — важный этап в процессе исполнения Вашего заказа. 
                        | Мы не доверяем доставку изделий сторонним курьерским службам. 
                        | Специалисты <strong>собственной службы доставки</strong> привозят окна на Ваш адрес 
                        | с соблюдением всех норм перевозки. 
                    p.work-slide__text Изделия доставляются в <strong>защитной пленке</strong>, мелкая оконная 
                        | и дверная фурнитура, а также комплектующие находятся в <strong>плотно упакованных</strong> крафт-мешках 
                        | и коробках. Изделия размещаются только в специально оборудованном для перевозки транспорте: 
                        | таким образом исключается вероятность повреждения.
                    img.work-slide__img._3(src='img/work/3.svg' alt='Доставка')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Установка
                    p.work-slide__text Бережно доставляем ваш заказ. 
                        br 
                        | Производим <strong>демонтаж старых конструкций</strong> и <strong>вывоз мусора</strong>. 
                        | Перед установкой окно разбирается — вынимается стеклопакет, снимаются створки. 
                    p.work-slide__text Мастер с <strong>10-летним</strong> стажем работает только с рамой: 
                        | фиксирует, тщательно выравнивает в горизонтальном и вертикальном положении, закрепляет. 
                        | Далее монтируется подоконник и отлив, производится отделка откосов, устанавливаются 
                        | створки и стеклопакет.
                    img.work-slide__img._4(src='img/work/4.svg' alt='Установка')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Завершающие работы и контроль качества
                    p.work-slide__text По окончании монтажных работ производится обязательная регулировка створок, 
                        | настраивается прижим, удаляются остатки защитной пленки с наружной стороны, проверяется 
                        | работа фурнитуры. 
                    p.work-slide__text Клиент осматривает результаты и принимает заказ, подписывает акт приема-передачи.
                        br
                        | Выполненный заказ заносится в базу завода и переходит на гарантию <strong>(5 лет на стеклопакет)</strong>.
                    p.work-slide__text._final Множество вариантов конфигураций, нетиповые решения.
                        br
                        | Оставьте заявку и наш эксперт подберет оптимальное решение именно для вас.
                    img.work-slide__img._5(src='img/work/5.svg' alt='Завершающие работы и контроль качества')
        .swiper-pagination
        
    .work-nav
        ul.work-nav__list
            li.work-nav__list__item._active.js-work-nav__item Бесплатный замер
            li.work-nav__list__item.js-work-nav__item Изготовление
            li.work-nav__list__item.js-work-nav__item Доставка
            li.work-nav__list__item.js-work-nav__item Установка
            li.work-nav__list__item.js-work-nav__item Контроль качества
        button.btn._for-white._next.work-nav__btn.js-work-nav__btn(data-next='Что дальше?' data-order='Сделать заказ') Что дальше?