.container.work
    .heading
        h3.heading__h Этапы выполнения работ
        p.heading__lead От замера и идеи до установки окна — работа под ключ
    
    .work__slider
        .swiper-container
            .swiper-wrapper
                .work-slide.swiper-slide
                    h3.work-slide__h Бесплатный замер
                    p.work-slide__text Специалист бесплатно снимет размеры, проведет анализ проема с внутренней и внешней стороны, расскажет о действующих акциях, рассрочке, рассчитает стоимость изделия и оформит договор на месте с дополнительной скидкой 5%. Можно оплатить всю сумму сразу или оформить рассрочку. При самовывозе и оптовом заказе предоставляются дополнительные скидки.
                    a.btn._for-white.js-popup(href='#call') Вызвать замерщика
                    img.work-slide__img._1(src='img/work/1.svg' alt='Бесплатный замер')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Изготовление окна
                    p.work-slide__text Заказ передается в производственно-технический отдел для тщательной проверки правильности расчёта окон и на соответствие всем техническим параметрам и действующим нормативам — далее на Завод. Срок изготовления — от 2 до 10 дней в зависимости от технической сложности и, как следствие, особенности производственного процесса. Производство полностью автоматизировано, что сводит к минимуму возможное негативное влияние «человеческого фактора». Система менеджмента качества на заводе сертифицирована по международному стандарту ISO 9001.
                    img.work-slide__img._2(src='img/work/2.svg' alt='Изготовление окна')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Доставка
                    p.work-slide__text Доставка окон — важный этап в процессе исполнения Вашего заказа. Мы не доверяем доставку изделий сторонним курьерским службам. Специалисты собственной службы доставки привозят окна на Ваш адрес с соблюдением всех норм перевозки. Изделия доставляются в защитной пленке, мелкая оконная и дверная фурнитура, а также комплектующие находятся в плотно упакованных крафт-мешках и коробках. Изделия размещаются только в специально оборудованном для перевозки транспорте: таким образом исключается вероятность повреждения.
                    img.work-slide__img._3(src='img/work/3.svg' alt='Доставка')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Установка
                    p.work-slide__text Бережно доставляем ваш заказ. Производим демонтаж старых конструкций и вывоз мусора. Перед установкой окно разбирается — вынимается стеклопакет, снимаются створки. Мастер с 10-летним стажем работает только с рамой: фиксирует, тщательно выравнивает в горизонтальном и вертикальном положении, закрепляет. Далее монтируется подоконник и отлив, производится отделка откосов, устанавливаются створки и стеклопакет.
                    img.work-slide__img._4(src='img/work/4.svg' alt='Установка')
                    span.work-slide__next.js-work-nav__next
                .work-slide.swiper-slide
                    h3.work-slide__h Завершающие работы и контроль качества
                    p.work-slide__text По окончании монтажных работ производится обязательная регулировка створок, настраивается прижим, удаляются остатки защитной пленки с наружной стороны, проверяется работа фурнитуры.
                    p.work-slide__text Клиент осматривает результаты и принимает заказ, подписывает акт приема-передачи.
                    p.work-slide__text Выполненный заказ заносится в базу завода и переходит на гарантию 
                        strong (5 лет подтвержденной гарантии)
                        | .
                    p.work-slide__text._final Множество вариантов конфигураций, нетиповые решения. Оставьте заявку и наш эксперт подберет оптимальное решение именно для вас.
                    img.work-slide__img._5(src='img/work/5.svg' alt='Завершающие работы и контроль качества')
        .swiper-pagination
        
    .work-nav
        ul.work-nav__list
            li.work-nav__list__item._active.js-work-nav__item Бесплатный замер
            li.work-nav__list__item.js-work-nav__item Изготовление
            li.work-nav__list__item.js-work-nav__item Доставка
            li.work-nav__list__item.js-work-nav__item Установка
            li.work-nav__list__item.js-work-nav__item Контроль качества
        button.btn._for-white._next.work-nav__btn.js-work-nav__btn(data-next='Что дальше?' data-order='Сделать заказ') Что дальше?