mixin payment(payment)
    .payment
        span.payment__accent 0%
        span.payment__content
            | Рассрочка
            span.payment__content__accent= payment 
                | 
                | ₽ / мес
