.eco._popup
    .container
        .eco__head
            h3.eco__h Здоровый микроклимат в вашем доме
        .eco__row
            .eco__row__col
                h4.eco__sub-h Вызов специалиста на эко-инжиниринг
                form.eco__form.js-form
                    .input-group
                        input(name='email' value='user@host.com' hidden)
                        input(name='text' value='info' hidden)
                        input(name='email3' value='info@example.com' hidden)
                        input(name='form_id' value='1' hidden)
                        input(name='form_name' value='Вызов специалиста на эко-инжиниринг (popup)' hidden)
                        input.input.js-mask(name='phone' required autocomplete='off')
                        input(name='goals_ya' value='lead_engineering' hidden)
                        input(
                            name='goals_ga' 
                            hidden 
                            value='{"event":"form_sent3","eventCategory":"lead","eventAction":"engineering"}'
                        )
                        button.btn Оставить заявку
                    .form-desc Оставьте ваш номер телефона и мы перезвоним вам, а также согласуем бесплатный выезд специалиста в удобное для вас время.
                p.eco__text.
                    Специалист приедет на замер с комплектом оборудования для анализа 
                    микроклимата в вашей квартире (доме). Термоанемометром он замерит температуру 
                    и относительную влажность воздуха в помещениях, а также работу системы приточной вентиляции. 
                    Пирометром — определит температуру радиаторов системы центрального отопления, а шумомером — 
                    определит уровень шума.
            .eco__row__col
                h4.eco__sub-h Комфортные параметры помещения:
                ul.eco__list.sm-full
                    li.eco__list__item Температура воздуха — +20‑+25°C.
                    li.eco__list__item Относительная влажность — 35‑55%.
                    li.eco__list__item Приток воздуха от 1 м³ на 1 м² в час.
                    li.eco__list__item Уровень шума — 30‑55 Дб.
                .eco__badge-wrapper
                    +eco
                    a.eco__link.dashed(href="//eco52.ru") Подробнее о предложении