.pricelist {
    $root: &;
    &__h {
        font-family: $font-family-alt;
        font-weight: 700;
        font-size: 18px;
        color: $color-primary;
        margin-bottom: 20px;
    }
    &__list {
        line-height: 20px;
        font-size: 15px;
        &__item {
            margin-bottom: 15px;
            padding-left: 20px;
            &:before {
                position: absolute;
                content: '';
                width: 8px;
                height: 8px;
                border-radius: 50%;
                left: 0px;
                top: 5px;
                background-color: $color-primary;
            } 
            &:last-child {
                margin-bottom: 0;
            }
            @include media-breakpoint-up(lg) {
                display: flex;
                align-items: flex-start;
            }
            &__text {
                width: 215px;
                flex-shrink: 0;
                padding-right: 10px;
            }
            &__price {
                display: block;
                font-family: $font-family-alt;
                font-weight: 700;
                line-height: normal;
                font-size: 16px;
                color: $color-primary;
                white-space: nowrap;
                margin-top: 5px;
                @include media-breakpoint-up(lg) {
                    margin-top: 0;
                }
                &__muted {
                    display: block;
                    margin-top: 5px;
                    font-family: $font-family;
                    font-weight: normal;
                    font-size: 13px;
                    color: $color-text;
                }
            }
        }
        &._lg {
            #{$root}__list__item__text {
                width: 355px;
                @include media-breakpoint-up(xl) {
                    width: 380px;
                }
            }
        }
    }
}