meta(charset='utf-8')
block title
    title Title
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
meta(name='format-detection', content='telephone=no')
link(rel='stylesheet', href='css/libs/jquery.fancybox.css')
link(rel='stylesheet', href='css/libs/swiper.css')
link(rel='stylesheet', href='css/libs/jquery.jgrowl.css')
link(rel='stylesheet', href='css/libs/jquery.scrollbar.css')
link(rel='stylesheet', href='fonts/Lato/lato.css')
link(rel='stylesheet', href='fonts/Fontello/css/fontello.css')
link(rel='stylesheet', href='assets/css/main.css?v=' + PACKAGE.version)