extends /_includes/layout

block title
    title САКСЭС Нижегородский оконный завод

block content
    
    include /blocks/main
    
    .container
        include /blocks/feats_1
        
    include /blocks/config
    include /blocks/bank
    include /blocks/man
    include /blocks/quiz
    include /blocks/reviews
    include /blocks/work
    include /blocks/eco
    
    .heading
        h3.heading__h Контакты
        
    div(hidden)
        div(id='order')
            | order
        div(id='eco')
            include /blocks/popups/eco
        