extends /_includes/layout

block title
    title САКСЭС Нижегородский оконный завод

block content
    
    .nav._js-nav
        .nav__toggler.js-tab__toggler
            .nav__toggler__content.js-tab__toggler__content Пластиковые окна
        .nav__wrapper.js-tab__wrapper
            ul.nav__list
                li.nav__list__item
                    a.nav__list__item__link._active.js-tab__link(href='#windows') Пластиковые окна
                li.nav__list__item
                    a.nav__list__item__link.js-tab__link(href='#balcony') Лоджии и балконы
                li.nav__list__item
                    a.nav__list__item__link.js-tab__link(href='#cottage') Остекление коттеджей
                li.nav__list__item
                    a.nav__list__item__link.js-tab__link(href='#accessories') Аксессуары и ремонт окон
        
        div(id="windows").a-tab._active.js-tab
            include /blocks/main/windows_ny
            include /blocks/feats/windows
            include /blocks/config/windows
        div(id="balcony").a-tab.js-tab
            include /blocks/main/balcony
            include /blocks/feats/balcony
            include /blocks/config/balcony
        div(id="cottage").a-tab.js-tab
            include /blocks/main/cottage
            include /blocks/feats/cottage
            include /blocks/config/cottage
        div(id="accessories").a-tab.js-tab
            include /blocks/main/accessories
            include /blocks/feats/accessories
            include /blocks/config/accessories
    
    script.
      	/*fast fix anchor tab*/
      	if (location.hash.length > 0) {
            var hash = location.hash;
            if (hash.indexOf('-') >= 0) {
                hash = hash.split('-')[0];
            }
            var tab = document.querySelector('.a-tab' + hash);
            var link = document.querySelector('.nav__list .nav__list__item__link[href="' + hash + '"]');
            var content = document.querySelector('.js-tab__toggler__content');
            if (tab !== null && link != null) {
                var els = document.querySelectorAll('.nav__list .nav__list__item__link._active');
                els = Array.prototype.slice.call(els); // ie11
                els.forEach(function (item) {
                    item.classList.remove("_active");
                });
                els = document.querySelectorAll('.a-tab._active');
                els = Array.prototype.slice.call(els); // ie11
                els.forEach(function (item) {
                    item.classList.remove("_active");
                });
                tab.classList.add("_active");
                link.classList.add("_active");
                content.innerText = link.innerText;
            }
        }
    
    include /blocks/stock
    
    include /blocks/bank
    include /blocks/man
    include /blocks/quiz
    include /blocks/reviews
    include /blocks/work
    include /blocks/eco
    include /blocks/contacts
        
    div(hidden)
        div(id='eco')
            include /blocks/popups/eco
        include /blocks/popups/action
        include /blocks/popups/calc
        include /blocks/popups/call
        include /blocks/popups/bank
        include /blocks/popups/dimensions
        