.container
    .feats.sm-full
        .feats__inner
            .feats__item
                .feats__item__img 
                    +svgsprite('furniture')
                .feats__item__text Широкий выбор качественной фурнитуры
            .feats__item
                .feats__item__img 
                    +svgsprite('repair')
                .feats__item__text Полный спектр ремонтных работ
            .feats__item
                .feats__item__img 
                    +svgsprite('drop')
                .feats__item__text Восстановление герметичности ваших окон