.container
    .feats.sm-full
        .feats__inner
            .feats__item
                .feats__item__img 
                    +svgsprite('square')
                .feats__item__text Добавьте площади к квартире
            .feats__item
                .feats__item__img 
                    +svgsprite('pig')
                .feats__item__text Цены от производителя. С ремонтом выгоднее
            .feats__item
                .feats__item__img 
                    +svgsprite('temp')
                .feats__item__text На 18% теплее обычного профиля: зимой тепло, летом не жарко