.container
    .feats.sm-full
        .feats__inner
            .feats__item
                .feats__item__img 
                    +svgsprite('security')
                .feats__item__text Защита от взлома и детская безопасность
            .feats__item
                .feats__item__img 
                    +svgsprite('microclimate')
                .feats__item__text Микроклимат в вашем доме
            .feats__item
                .feats__item__img 
                    +svgsprite('tinting')
                .feats__item__text Тонировка стеклопакетов