.container
    .feats.sm-full
        .feats__inner
            .feats__item
                .feats__item__img 
                    +svgsprite('size')
                .feats__item__text Замер бесплатно
            .feats__item
                .feats__item__img 
                    +svgsprite('policy')
                .feats__item__text Монтаж по ГОСТу
            .feats__item
                .feats__item__img 
                    +svgsprite('money')
                .feats__item__text Беспроцентная рассрочка
            .feats__item
                .feats__item__img 
                    +svgsprite('warranty')
                .feats__item__text 5 лет гарантии