mixin reviews-item()
    .reviews-item
        .reviews-item__head
            if attributes.avatar
                .reviews-item__head__col
                    img.reviews-item__av(src='img/reviews/avatar/' + attributes.avatar + '.png')
            .reviews-item__head__col
                h5.reviews-item__h= attributes.title
                p.reviews-item__muted= attributes.muted
                p.reviews-item__work= attributes.work
        .reviews-item__content=attributes.text
        .reviews-item__foot
            if attributes.photo
                each photo in attributes.photo
                    a.reviews-item__img._photo.js-popup(href='img/reviews/photo/' + photo + '.jpg')
                        img(src='img/reviews/photo/sm/' + photo + '.jpg')
                        span.reviews-item__img__link Открыть
            if attributes.scan
                a.reviews-item__img.js-popup(href='img/reviews/scan/' + attributes.scan + '.jpg')
                    img(src='img/reviews/scan/sm/' + attributes.scan + '.jpg')
                    span.reviews-item__img__link Читать
            if attributes.video
                span.reviews-item__img._video
                    img(src='img/reviews/video/' + attributes.video + '.jpg')
                    a.reviews-item__img__link.js-popup(href='//www.youtube.com/watch?v=' + attributes.video)
                        +svgsprite('play')
        