mixin tooltip-gost()
    span.tooltip
        i.icon-help
        span.tooltip__content Монтаж по ГОСТ включает в себя установку рамы, стеклопакетов, отливов, паро- и гидроизоляции, регулировку фурнитуры.
