.main-wrapper
    .main._accessories
        .container
            .main__head
                h1.main__h Вернуть окнам 
                    br
                    | былую силу
                p.main__text.color-primary Ремонт и улучшение окон. 
                    br 
                    | Большой выбор фурнитуры и аксессуаров.
            ul.main__list
                li.main__list__item Регулировка пластиковых окон и замена фурнитуры
                li.main__list__item Утепление, замена уплотнителя, пропенка
                li.main__list__item Установка москитных сеток
                li.main__list__item._break-before Изготовление и монтаж подоконника, отлива, козырька, откосов
                li.main__list__item Безопасность для детей
                li.main__list__item Замена стеклопакетов
                li.main__list__item Регулировка дверей и окон из алюминиевых профилей
            .main__form
                a.btn._for-white.js-popup(href='#action' data-action='Аксессуары: первый экран') Вызвать мастера
        .main__back(style='background-image:url(img/main/accessories.jpg)')
