.main-wrapper.container
    .main._windows
        .a-tab__text
            .main__head
                h1.main__h Пластиковые окна от производителя
                p.main__text Пластиковые окна от оконного завода «САКСЭС» сохраняют тепло, формируют здоровый микроклимат.
            .main__price-wrapper
                .main__price
                    span.main__price__muted Окно с установкой под ключ
                    span.main__price__price._star от 9 990 ₽
                    span.main__price__text Размер 130×140 см
                .main__price-right
                    span.main__price-right__muted Обычная цена
                    del.main__price-right__price 12 390 ₽
            .main__form
                a.btn._for-white.js-popup(href='#action' data-action='Окна: первый экран') Рассчитать свой вариант
            .main__sticker(style='background-image:url(img/sticker.png)')
                span.main__sticker__accent АКЦИЯ
                    br
                    | до 30.10
                span.main__sticker__left Осталось
                    br
                    span.js-left(data-left='2018-10-31')
            .main__installment
                span.main__installment__accent 0%
                | рассрочка
                span.main__installment__strong на 10 мес.
        .main__back.a-tab__img(style='background-image:url(img/main/windows.png)')