.main-wrapper.container
    .main._windows
        .a-tab__text
            .main__head
                h1.main__h Утепляем окна всю зиму!
                p.main__text Утеплите свои окона этой зимой, и получите сертификат на установку новых окон 
                    | в размере 
                    strong.nowrap 5 000 руб!
            .main__price-wrapper
                .main__price
                    span.main__price__muted Утепление окна под ключ
                    span.main__price__price._star от 1 660 ₽
            .main__form
                a.btn._for-white.js-popup(href='#action' data-action='Окна: первый экран') Заказать утепление окон
            .main__sticker(style='background-image:url(img/sticker.png)')
                span.main__sticker__accent АКЦИЯ
                    br
                    | всю зиму!
                span.main__sticker__left Осталось
                    br
                    span.js-left(data-left="2019-02-28")
        .main__back.a-tab__img(style='background-image:url(img/main/banner_window.jpg)')